// Рамер вьюпорта

$desktop-width: 1366px;
$tablet-middle: 1365px;
$tablet-width: 768px;
$mobil-middle: 767px;
$mobil-width: 320px;

//colors

$global-color: #102654;
$global-width: #ffffff;

$primary-font: "Roboto-Condensed", sans-serif;
$secondary-font: "Alumni-Sans", sans-serif;

//font-size
$title-max: 92px;
$title-big: 72px;
$header-title: 62px;
$title-medium: 54px;
$title-medium-ms: 42px;
$text-header: 32px;
$text-ms: 26px;
$text-sm: 24px;
$text-ls: 22px;
$global-text: 16px;
$text-small: 14px;
$text-button: 12px;
