.games {
  padding: 100px 0;

  @media (max-width: $tablet-middle) {
    padding: 60px 0;
  }

  @media (max-width: $mobil-middle) {
    padding: 25px 0;
  }
}

.games__wrapper {
  display: grid;
  grid-template-columns: 500px 660px;
  background-color: $card-color;
  color: $global-width;

  @media (max-width: $tablet-middle) {
    grid-template-columns: 300px 378px;
    justify-content: center;
  }

  @media (max-width: $mobil-middle) {
    display: flex;
    flex-direction: column;
  }
}

.games__wrap {
  padding: 60px 80px 98px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;

  @media (max-width: $tablet-middle) {
    padding: 40px;
    row-gap: 10px;
  }

  @media (max-width: $mobil-middle) {
    row-gap: 16px;
    justify-content: center;
  }

  @media (width: $mobil-width) {
    justify-content: start;
  }
}

.games__inner {
  display: grid;
  grid-template-columns: 168px 95px;
  column-gap: 77px;

  @media (max-width: $tablet-middle) {
    column-gap: 20px;
    grid-template-columns: 98px 102px;
  }

  @media (max-width: $mobil-middle) {
    grid-template-columns: 117px 56px;
    column-gap: 37px;
    justify-content: center;
  }
}

.games__description {
  font-family: $secondary-font;
  font-size: $title-heading;
  font-weight: 600;
  line-height: 117%;
  text-transform: uppercase;
  min-height: 192px;
  margin: 0;

  @media (max-width: $tablet-middle) {
    font-size: $text-header-max;
    line-height: 112%;
    min-height: 108px;
  }
}

.games__list {
  font-weight: 300;
  font-size: $text-mi;
  line-height: 133%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (max-width: $tablet-middle) {
    row-gap: 10px;
  }
}

.games__desc {
  border-bottom: 1px solid $global-width;
  margin: 0;
  padding-bottom: 6px;
  font-weight: 300;
  min-height: 24px;

  @media (max-width: $tablet-middle) {
    padding-bottom: 4px;
  }

  @media (max-width: $mobil-middle) {
    min-height: 20px;
    font-size: $global-text;
    line-height: 125%;
    padding-bottom: 2px;
  }
}

.games__time {
  display: block;
  padding-top: 8px;
  line-height: 100%;

  @media (max-width: $tablet-middle) {
    padding-top: 0;
  }
}

.games__time-box {
  margin: 0;
  display: flex;
  column-gap: 5px;

  @media (max-width: $mobil-middle) {
    column-gap: 3px;
    margin-top: 2px;
  }
}

.games__time-number {
  display: block;
  font-weight: 700;
  font-size: $title-midlle-header;
  align-self: center;
  line-height: 100%;
  min-height: 40px;
  margin: 2px 0;

  @media (max-width: $tablet-middle) {
    font-size: $text-sm;
    min-height: 24px;
  }

  @media (max-width: $mobil-middle) {
    margin: 0;
  }
}

.games__time-text {
  display: block;
  font-size: $text-small;
  font-weight: 300;
  line-height: 157%;
  min-height: 44px;

  @media (max-width: $tablet-middle) {
    width: 37px;
  }

  @media (max-width: $mobil-middle) {
    font-size: $text-button;
    min-height: 24px;
    line-height: 100%;
  }
}

.games__time-time {
  font-weight: 700;
  font-size: $title-midlle-header;
  line-height: 100%;
  min-height: 40px;
  display: inline-block;

  @media (max-width: $tablet-middle) {
    font-size: $text-sm;
    min-height: 24px;
  }
}

.games__title {
  margin: 0;
  line-height: 133%;
  font-size: $text-mi;
  font-weight: 300;
  letter-spacing: -1px;
  min-height: 24px;

  @media (max-width: $tablet-middle) {
    min-height: 48px;
  }

  @media (max-width: $mobil-middle) {
    font-size: $global-text;
    line-height: 112%;
    margin: 0 auto;
  }
}

.game__link {
  padding: 22px 20px;
}

.game__box {
  vertical-align: middle;
}

.games__img {
  display: block;

  @media (max-width: $mobil-middle) {
    width: 100%;
    object-fit: cover;
  }
}
