.gym {
  padding: 120px 0 125px;

  @media (max-width: $tablet-middle) {
    padding-top: 60px;
  }

  @media (max-width: $mobil-middle) {
    padding: 40px 0;
  }
}

.gym__container {
  @media (max-width: $mobil-middle) {
    padding: 0;
  }
}

.gym__wrapper {
  display: grid;
  grid-template-columns: 355px 660px;
  padding-bottom: 119px;
  column-gap: 145px;
  position: relative;

  @media (max-width: $tablet-middle) {
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
  }

  @media (max-width: $mobil-middle) {
    padding-bottom: 0;
  }
}

.gym__box {
  @media (max-width: $tablet-middle) {
    padding: 0 88px;
  }

  @media (max-width: $mobil-middle) {
    padding: 0 15px;
  }
}

.gym__title {
  vertical-align: middle;
  line-height: 100%;
  font-family: $secondary-font;
  font-size: $title-medium;
  font-weight: 600;
  padding-right: 20px;
  margin: 0;
  min-height: 54px;
  margin-bottom: 25px;

  @media (max-width: $tablet-middle) {
    font-size: $title-medium-ms;
    text-align: center;
    min-height: 42px;
    margin-bottom: 20px;
    padding-right: 0;
  }

  @media (max-width: $mobil-middle) {
    font-size: $text-header;
    margin-bottom: 12px;
    text-align: left;
    min-height: 32px;
  }
}

.gym__subtext {
  font-weight: 400;
  font-size: $text-ls;
  min-height: 22px;
  margin: 0;
  margin-bottom: 95px;
  letter-spacing: -1px;

  @media (max-width: $tablet-middle) {
    font-size: $text-ml;
    text-align: center;
    min-height: 20px;
    margin-bottom: 36px;
  }


  @media (max-width: $mobil-middle) {
    font-size: $text-mi;
    line-height: 111%;
    min-height: 20px;
    text-align: left;
  }
}

.gym__text {
  min-height: 100px;
  line-height: 150%;
  letter-spacing: -1px;
  margin: 0;

  @media (max-width: $tablet-middle) {
    font-size: $global-text;
    text-align: center;
    min-height: 72px;
    margin-bottom: 36px;
    padding: 0 20px;
  }

  @media (max-width: $mobil-middle) {
    font-size: $text-small;
    line-height: 157%;
    min-height: 110px;
    text-align: left;
    padding: 0;
    letter-spacing: -0.8px;
  }

  &--hidden {
    @media (max-width: $tablet-middle) {
      display: none;
    }
  }
}

.gym__img {
  width: 100%;
  object-fit: cover;
  display: block;

  @media (max-width: $tablet-middle) {
    height: 345px;
  }

  @media (max-width: $mobil-middle) {
    height: 280px;
    object-position: center;
    margin-bottom: 36px;
  }
}

//видео
.gym__video {
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  bottom: -111px;
  width: 360px;
  height: 230px;
  background-image:
    image-set(
      url("../../images/gym/video-gym-desktop@2x.webp") type("image/webp") 2x,
      url("../../images/gym/video-gym-desktop@1x.webp") type("image/webp") 1x,
      url("../../images/gym/video-gym-desktop@2x.jpg") type("image/jpg") 2x,
      url("../../images/gym/video-gym-desktop@1x.jpg") type("image/jpg") 1x);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    background-color: $bg-opasity;
    width: 100%;
    height: 230px;

    @media (max-width: $tablet-middle) {
      height: 170px;
    }
  }

  @media (max-width: $tablet-middle) {
    width: 270px;
    height: 170px;
    bottom: -52px;
    background-image:
      image-set(
        url("../../images/gym/video-gym-tablet@2x.webp") type("image/webp") 2x,
        url("../../images/gym/video-gym-tablet@1x.webp") type("image/webp") 1x,
        url("../../images/gym/video-gym-tablet@2x.jpg") type("image/jpg") 2x,
        url("../../images/gym/video-gym-tablet@1x.jpg") type("image/jpg") 1x);
  }

  @media (max-width: $mobil-middle) {
    width: 100%;
    height: 170px;
    position: static;
    transform: translate(0);
    background-image:
      image-set(
        url("../../images/gym/video-gym-mobil@2x.webp") type("image/webp") 2x,
        url("../../images/gym/video-gym-mobil@1x.webp") type("image/webp") 1x,
        url("../../images/gym/video-gym-mobil@2x.jpg") type("image/jpg") 2x,
        url("../../images/gym/video-gym-mobil@1x.jpg") type("image/jpg") 1x);
  }
}

// кнопка
.gym__video-link {
  width: 100px;
  height: auto;
  display: block;
  text-align: center;
  text-decoration: none;
  margin: 65px auto;

  @media (max-width: $tablet-middle) {
    width: 72px;
    margin: 49px auto;
  }
}

.gym__video-button {
  width: 100px;
  height: 100px;
  background-color: transparent;
  background-image: url("../../icons/button-video/button-play.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px contain;
  border: none;
  cursor: pointer;
  padding: 0;

  @media (max-width: $tablet-middle) {
    width: 72px;
    height: 72px;
  }

  @media (max-width: $mobil-middle) {
    display: flex;
    justify-content: center;
  }
}
